<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #efede1;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag "dtr-logo.png", style: "display:block; margin: auto" %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <%# This is where a guest to the website will be asked to sign in before viewing parts of the app that are not for guests %>
      <% if user_signed_in?%>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
      <% end %>
      </li>
      <%# Here are my navbar buttons and route paths %>
      <li class="nav-item">
           <%= link_to "Home", root_path , class: 'mx-2' %>
        </li>
        <li class="nav-item">
           <%= link_to "Buy Taco's", products_path, class: 'mx-2' %>
        </li>
        <li class="nav-item">
          <%= link_to "Sell Taco's", new_product_path, class: 'mx-2'%>
        </li>
        <li class="nav-item">
        <%# The checkout is currently disabled while we are under construction %>
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Checkout Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>